mkdocs-material

# mknotebooks
# mkdocs-macros-plugin # no
# mkdocs-pdf-export-plugin # ***
# mkdocs-pdf-with-js-plugin  # no
# mkdocs-print-site-plugin
# mkdocs-video
# mkdocs-material-extensions 
# pymdown-extensions 
# mkdocs-macros-plugin
# mkdocs-blog-plugin
# ipywidgets